---
layout: default
---

<div>
  <a href="{{ site.url }}" class="linktreelinks">www.kunststofferei.de</a>
  <br />
  <a
    href="https://www.ardmediathek.de/video/mdr-um-4/zweites-leben-fuer-plastikmuell-kreatives-recycling-in-der-kunststofferei/mdr-fernsehen/Y3JpZDovL21kci5kZS9iZWl0cmFnL2Ntcy9jNDkyNmJlZC1mMTdjLTQwOWItOWNhMC00MTY1ZmU1YmQ3N2Q/"
    class="linktreelinks"
    >MDR um 4 Segment über uns</a
  >
  <br />
  <a
    href="https://www.mitteldeutsches-magazin.de/recycling-kunststofferei"
    class="linktreelinks"
    >Interview mit Mitteldeutsches Magazin</a
  >
</div>
